<!DOCTYPE html>
{% extends 'testapp/base.html' %}

<!-- Title -->
{% block title %}
<title>Login | Page</title>
{% endblock title %}

<!-- Content -->
{% block bodyBlock %}
<!-- <div class="jumbotron">
    <div class="container" align="center">

        <h1>Please Login To Write Exam</h1>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="Login">
        </form>

    </div>
</div>
 -->

<div class="container mt-5">


    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 align="center">Login</h2>
        <hr>
        <div class="mb-3">
            <!-- Username -->
            <label for="name" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" id="name" aria-describedby="emailHelp">

        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <p>Don't have an account? <a href="{% url 'signup' %}">Signup</a></p>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>


{% endblock bodyBlock %}