<!DOCTYPE html>
{% extends 'testapp/base.html' %}

<!-- Title -->
{% block title %}
<title>Login | Page</title>
{% endblock title %}

<!-- Content -->
{% block bodyBlock %}

<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post">
        {% csrf_token %}
        <h2 align="center">Registration / Signup</h2>
        <hr>
        
        {{ form.as_p }}
        
        <p class="mt-3">Already have an account? <a href="{% url 'login' %}">Login</a></p>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock bodyBlock %}