<!DOCTYPE html>
{% extends 'testapp/base.html' %}
<!-- Title -->
{% block title %}
    <title>Home | Page</title>
{% endblock title %}

<!-- Body -->

<!-- Content -->
    {% block bodyBlock %}
        <div class="jumbotron">
            <div class="container mt-4">
                <h1>Welcom to Sajjad Exams</h1>
                <h2 class="heading-1">Instruction</h2>
                <ul>
                    <li>Rule-1 : </li>
                    <li>Rule-2 : </li>
                    <li>Rule-3 : </li>
                    
                </ul>
            
            </div>
        </div>
    {% endblock bodyBlock %}
